<div class="container">
  <div class="login-container">
    <form>
      <div class="logo" location="logo">
      </div>
      <div location="username">
        <!--<input class="item" type="textfield" name="username" placeholder="Username" />-->
      </div><div location="password">
      <!--<input class="item" type="password" name="password" placeholder="Password" />-->
    </div><div>
      <!--<input class="login-checkbox" type="checkbox" name="remember">Remember me</input>-->
    </div><div location="signin">
      <!--<input class="item button-primary"  type="submit" name="login" value="Sign in" />-->
    </div><div>
      <!--<a href="#" class="centered-link">Forgot password?</a>-->
    </div>
    </form>
  </div>
</div>